.sidebar{
     width: 280px;
    height: 100vh; 
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 0.2s linier;
}
.sidebar ul{
    list-style: none;
    padding-left: 0;
}
.sidebar ul li{
    margin: 20px 0;
    font-size: 20px;
} 
.sidebar a{
    text-decoration: none;
    color: #000;
}
.sidebar ul li:hover{
    background-color: rgba(145, 150, 171, 0.08);
}
.sidebar .active li{
     border-right: 4px solid;
    background-color: #1664d817;
}